.mainContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
}
nav {
  display: flex;
  top: 0;
  position: absolute;
  align-items: center;
  width: 90%;
  height: 40px;
  border-bottom: 1px solid rgb(209, 207, 207);
  z-index: 3;
}

.navTab {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.navTab:hover {
  cursor: pointer;
}
.individualTab {
  color: rgb(146, 146, 146);
  position: relative;
  text-decoration: none;
}
.individualTab::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 4px;
  background-color: rgb(146, 146, 146);
  left: 50%;
  bottom: -10px;
  transition: all 0.4s ease-in-out;
}
.navTab:hover .individualTab::after {
  width: 100%;
  left: 0;
}
.bigContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}
/*Test Tube*/
.bodyContainer {
  display: flex;
  width: 300px;
  height: 100vh;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0;
  /* border: 1px solid red; */
}
.testTube {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  /* border: 1px solid red; */
}
.testSubject {
  display: flex;
  height: 430px;
  width: fit-content;
}
.person {
  display: flex;
  width: 100%;
}

.scanner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 430px;
  /* border: 2px solid rgb(121, 121, 121); */
  border-radius: 15px;
  position: absolute;
  /* background-color: rgba(47, 33, 241, 0.5); */
  /* box-shadow: inset 0px 0px 30px 12px white; */
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}
.light {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  align-self: flex-start;
  width: 170px;
  height: 1px;
  border: 2px solid rgb(196, 240, 248);
  background-color: white;
  box-shadow: 0 3px 15px rgb(255, 255, 255);
  border-radius: 15px;
  animation: floating 8s ease-in-out infinite;
  opacity: 0.9;
}

@keyframes floating {
  0% {
    transform: translate(0, 10px);
  }
  50% {
    transform: translate(0, 400px);
  }
  100% {
    transform: translate(0, 10px);
  }
}

/*Exray Results*/
.anatomy {
  display: flex;
  width: 500px;
  height: 700px;
  align-items: center;
  justify-content: center;
  position: absolute;
  /* border: 1px solid red; */
  /* background-color: rgba(105, 96, 96, 0.5); */
  box-shadow: inset 0px 0px 40px 10px rgb(255, 255, 255);
}
.system {
  display: flex;
  position: absolute;
  width: 500px;
  height: 700px;
}
.pins {
  display: flex;
  position: absolute;
  width: 500px;
  height: 700px;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.Liver {
  display: flex;
  width: 20px;
  height: 30px;
  position: absolute;
  z-index: 3;
  /* border: 1px solid red; */
  top: 190px;
  left: 225px;
}
.Stomach {
  display: flex;
  width: 20px;
  height: 30px;
  position: absolute;
  z-index: 3;
  /* border: 1px solid red; */
  top: 200px;
  left: 250px;
}
.Intestine {
  display: flex;
  width: 20px;
  height: 30px;
  position: absolute;
  z-index: 3;
  /* border: 1px solid red; */
  top: 250px;
}
.Bones {
  display: flex;
  width: 20px;
  height: 30px;
  position: absolute;
  z-index: 3;
  /* border: 1px solid red; */
  top: 200px;
}
.Lungs {
  display: flex;
  width: 20px;
  height: 30px;
  position: absolute;
  z-index: 3;
  /* border: 1px solid red; */
  top: 150px;
  left: 210px;
}
.Heart {
  display: flex;
  width: 20px;
  height: 30px;
  position: absolute;
  z-index: 3;
  /* border: 1px solid red; */
  top: 160px;
  left: 240px;
}
.Brain {
  display: flex;
  width: 20px;
  height: 30px;
  position: absolute;
  z-index: 3;
  /* border: 1px solid red; */
  top: 30px;
}
.skin {
  display: flex;
  width: 500px;
  height: 700px;
  position: absolute;
  /* animation-name: appear;
  animation-duration: 0.9s; */
}

.skeletal {
  display: flex;
  width: 500px;
  height: 700px;
  position: absolute;
  /* animation-name: appear;
  animation-duration: 0.9s; */
}
.digestive {
  display: flex;
  width: 500px;
  height: 700px;
  position: absolute;
  /* animation-name: appear;
  animation-duration: 0.9s; */
}
.respiratory {
  display: flex;
  width: 500px;
  height: 700px;
  position: absolute;
  /* animation-name: appear;
  animation-duration: 0.9s; */
}
.cardiovascular {
  display: flex;
  width: 500px;
  height: 700px;
  position: absolute;
  /* animation-name: appear;
  animation-duration: 0.9s; */
}
.nervous {
  display: flex;
  width: 500px;
  height: 700px;
  position: absolute;
  /* animation-name: appear;
  animation-duration: 0.9s; */
}

.foodContainer {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  right: 60px;
  height: 700px;
  width: 400px;
  /* border: 1px solid red; */
}
.organDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 18px;
  width: 350px;
  height: 400px;
  /* border: 1px solid red; */
  color: grey;
}
span {
  color: black;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
